:local{
    .list{
        display:flex;
        flex-direction: column;
        width: 68%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 69px;
        .top{
            display: flex;
            flex-direction: line;
            justify-content: space-between;
        }
        .bottom{

        }
    }
}