@font-face {
  font-family: "Open Sans Regular";
  src: url("./open-sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("./open-sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Extra Bold";
  src: url("./open-sans/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
